.goto-btn {
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 10px;
    height: fit-content;
    float: right;
    margin: 10px;

}

.progress-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 80%;
    height: 60%;
    width: 280px;
    height: 250px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 2px #60768D33;
    padding: 20px;
}

.progress-card-list-group {
    width: 100%;
}

.progress-card-title {
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    margin-top: 0px;

}

.progress-card-description {
    font-size: 0.9rem;
    color: #333;
}

.progress-card-progress {
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 10px;
}

.progress-card-progress-text {
    font-size: 0.85rem;
    color: #333;
}

.progress-card-progress-container {
    display: flex;
    width: 100%;
    margin-top: auto;
    flex-wrap: wrap;
    align-items: flex-end;
}


.progress-card-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
