/* /list */
.add-button {
    margin-top: 40px;
    font-size: 1rem;
}

.add-button:hover {
    transition: all 0.3s ease;
    background-color: #D9EBFD;
    color: #333;
}



/* ================================================================= */
/* /list/create */

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card a {
    color: #333;
    text-decoration: none;
}


.card-text {
    text-align: left;
    font-size: 1.2rem;
}

.card-list-item img {
    filter: opacity(0.5);
    width: auto;
}

.card-list-group {
    background-color: #fff;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 2px #60768D33;
    padding: 80px;
    text-align: center;
}

.card-list-item {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #E5E5E5;
    margin-bottom: 30px;
}

.card-list-item:hover {
    background-color: #000138;
    color: white;
    transition: all 0.3s ease;
}


.card-button {
    margin-top: 50px;
    width: 50%;
    text-align: center;
}

.card-button:hover {
    transition: all 0.3s ease;
    background-color: #D9EBFD;
    color: #333;
}


.remove-list-btn {
    background-color: #C10000;
    font-weight: bold;
    margin-top: 20px;
}

.list-form .card-list-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.list-form-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.list-form-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 128px;
    background-color: #D4D4D4;
    overflow: hidden;
    padding: 15px;
}


/*List icon*/
.list-form-icon {
    width: 100%;
    height: 100%;
}


input[type="file"] {
    opacity: 0;
    padding: 0px;
}


/*Edit icon*/
.list-form-input-image img {
    position: absolute;
    width: 24px;
    height: 24px;
}

.list-form-input-container {
    width: 24px;
    margin-left: -20px;
}


.back-button {
    position: absolute;
    background-color: #D9EBFD;
    padding: 10px 12px 10px 12px;
    margin-right: auto;
    border-radius: 50px;
}

.back-button:hover {
    transition: all 0.3s ease;
    background-color: #014283;
    color: #333;
}


/* ================================================================= */

/* /list/view/?id */

.list-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.list-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* List Manager */
.lm {
    background-color: #fff;
    width: 80%;
    height: 60%;
    margin-bottom: 20px;
    border: solid 2px #333;
    border-radius: 10px;
    box-shadow: 0px 5px 2px #60768D33;
    padding: 50px;
}

.lm-icon {
    padding: 5px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: -10px;
}


.lm-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: top;
}

.lm-title {
    margin: 0;
    font-size: 16px;
}

.lm-date {
    margin-top: 0;
    font-size: 0.8rem;
}

.lm-progress-text {
    font-size: 0.8rem;
}

.lm-list-group {
    height: 80%;
    overflow: auto;
}

.lm-list-group-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: none;
    border-radius: 5px;
}


.lm-list-group-item:hover {
    background-color: #f8f8f8;
}

.item-form .lm-list-group-item:hover {
    background-color: transparent;
}


.lm-list-group-item:hover .lm-x-btn {
    visibility: visible;
    opacity: 1;
}

.lm-x-btn {
    visibility: hidden;
    opacity: 0.5;
    background-color: transparent;
    width: fit-content;
    color: #333;
    margin-right: 15px;
    padding: 5px;
    font-size: 1rem;
    transition: opacity 1s ease;
}


input[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    font-size: 28px;
    appearance: none;
    background-color: #fff;
    border: solid 2px #888;
    margin-right: 15px;
    border-radius: 10px;
    text-align: center;
}


input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #444;
    border: solid 2px #333;
    color: #fff;
}

input[type="checkbox"]:checked:after {
    margin-top: 2px;
    margin-left: 2px;
    content: "✓";
}

.item-form {
    width: 90%;
}

.item-form-input-text {
    font-size: 1rem;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
}


/* Style for the scrollbar */
.lm-list-group::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.lm-list-group::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

/* Hide the scrollbar by default */
.lm-list-group::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* When scrolling, show the scrollbar */
.lm-list-group:hover::-webkit-scrollbar {
    width: 8px;
}

/* ----------------------------------------------------------------*/

/* List Overview*/

.list-overview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px;
}


.list-overview .lm {
    width: 250px;
    height: 280px;
    margin-bottom: 0px;
    border: none;
}

.list-overview .lm-item-text {
    width: 80%;
    overflow: hidden;
}

.list-overview .lm-icon {
    width: 24px;
    height: 24px;
}
